@model IEnumerable<JobsForCoders.Models.Employer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cellphone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Operator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Buzz_Words)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.History)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cellphone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Operator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Buzz_Words)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.History)
        </td>
        <td>
            <img src="~/Uploads/@Html.DisplayFor(modelItem => item.Logo)" alt="" class="img-small" />            
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmployerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmployerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmployerID })
        </td>
    </tr>
}

</table>
