@model JobsForCoders.Models.JobSeeker

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "JobSeekers", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>JobSeeker</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.JobSeekerID)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Surname)
                @Html.ValidationMessageFor(model => model.Surname)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Birthdate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Birthdate)
                @Html.ValidationMessageFor(model => model.Birthdate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gender)
                @Html.ValidationMessageFor(model => model.Gender)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.City)
                @Html.ValidationMessageFor(model => model.City)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Education, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Education)
                @Html.ValidationMessageFor(model => model.Education)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Objectives, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Objectives)
                @Html.ValidationMessageFor(model => model.Objectives)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Introduction, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Introduction)
                @Html.ValidationMessageFor(model => model.Introduction)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Links, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Links)
                @Html.ValidationMessageFor(model => model.Links)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Cellphone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cellphone)
                @Html.ValidationMessageFor(model => model.Cellphone)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Operator, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Operator)
                @Html.ValidationMessageFor(model => model.Operator)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Buzz_Words, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Buzz_Words)
                @Html.ValidationMessageFor(model => model.Buzz_Words)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Current CV file</label>
            <div class="col-md-10">
                <a href="~/Uploads/@Html.DisplayFor(model => model.CV)" target="_blank">
                    Download
                </a>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Change CV file</label>
            <div class="col-md-10">
                <input type="file" name="CV" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Current Photo1</label>
            <div class="col-md-10">
                <a href="~/Uploads/@Html.DisplayFor(model => model.Photo1)" target="_blank">
                    <img src="~/Uploads/@Html.DisplayFor(model => model.Photo1)" alt="" class="img-small" />
                </a>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Change Photo1 file</label>
            <div class="col-md-10">
                <input type="file" name="Photo1" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Current Photo2</label>
            <div class="col-md-10">
                <a href="~/Uploads/@Html.DisplayFor(model => model.Photo2)" target="_blank">
                    <img src="~/Uploads/@Html.DisplayFor(model => model.Photo2)" alt="" class="img-small" />
                </a>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Change Photo2 file</label>
            <div class="col-md-10">
                <input type="file" name="Photo2" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Current Photo3</label>
            <div class="col-md-10">
                <a href="~/Uploads/@Html.DisplayFor(model => model.Photo3)" target="_blank">
                    <img src="~/Uploads/@Html.DisplayFor(model => model.Photo3)" alt="" class="img-small" />
                </a>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Change Photo3 file</label>
            <div class="col-md-10">
                <input type="file" name="Photo3" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@Html.ActionLink("Delete Your Account", "Delete", new { id = Model.JobSeekerID })